<servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>com.ecommerce.AddToCartServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>com.ecommerce.CartServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
</servlet-mapping>
