<servlet>
    <servlet-name>checkout</servlet-name>
    <servlet-class>com.ecommerce.CheckoutServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>paymentSuccess</servlet-name>
    <servlet-class>com.ecommerce.PaymentSuccessServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>paymentSuccess</servlet-name>
    <url-pattern>/payment-success</url-pattern>
</servlet-mapping>
